body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Stylizacja nagłówka */
.header-image {
    position: relative;
    top: -100px;
    width: 100%;
    max-width: 600px; /* Ustaw maksymalną szerokość obrazu nagłówka */
    height: auto;
    margin-bottom: 20px;
}

/* Stylizacja ikony zatwierdzenia */
.confirmation-icon {
    position: relative;
    top: -200px;
}

.checkmark-image {
    width: 100px; /* Ustawienie rozmiaru ikony zatwierdzenia */
    height: auto;
}

.message {
    position: relative;
    top: -150px;
    margin-top: 20px;
    font-size: 24px;
}
