/* Ogólne style dla body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Styl kontenera */
.container {
    width: 80%;
    margin: 50px auto; /* Wyśrodkowanie kontenera */
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styl nagłówka */
h1 {
    text-align: center;
    color: #00b09b;
    margin-bottom: 30px;
}

/* Styl akapitu */
p {
    font-size: 18px;
    line-height: 1.6; /* Zwiększenie interlinii dla lepszej czytelności */
    margin-bottom: 20px;
}

/* Styl linków */
a {
    color: #96c93d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* Podkreślenie po najechaniu */
}

/* Kontener przycisków */
.button-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie przycisków */
}

/* Styl przycisków */
button {
    padding: 15px 30px;
    
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 23px; /* Użycie jednolitej wartości zaokrąglenia */
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Płynna zmiana koloru tła */
}

button:hover {
    background-color: #41e6d2;
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}

/* Responsywność */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Zwiększenie szerokości kontenera na małych ekranach */
    }

    button {
        font-size: 16px; /* Zmniejszenie rozmiaru czcionki przycisków na małych ekranach */
        padding: 12px 20px; /* Mniejsze paddingi dla przycisków na mniejszych ekranach */
    }

    p {
        font-size: 16px; /* Zmniejszenie rozmiaru czcionki akapitów na małych ekranach */
    }
}
