/* Ogólne style dla strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Kontener */
.container {
    width: 90%; /* Szerokość 90% dla lepszej responsywności */
    max-width: 600px; /* Maksymalna szerokość dla dużych ekranów */
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nagłówek */
h1 {
    text-align: center;
    color: #418509;
    margin-bottom: 30px;
    font-size: 1.5rem; /* Używanie jednostek względnych */
}

/* Formularz */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Sekcja kodu weryfikacyjnego */
.verification-code-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center; /* Wyśrodkowuje tekst w etykiecie */
}

/* Etykieta */
label {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center; /* Wyśrodkowuje tekst i ikonę w poziomie */
    align-items: center;
    gap: 5px; /* Odstęp między tekstem a ikoną informacji */
}

/* Ikona informacji */
.info-icon {
    font-size: 1rem;
    cursor: pointer;
    color: #21b00e;
}

/* Pole tekstowe */
input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 1rem;
    width: 100%;
    margin-top: 10px; /* Dodaje odstęp między etykietą a polem input */
}

/* Dodatkowe informacje */
.additional-info {
    font-size: 1rem;
    text-align: center;
    position: relative;
    top: 23px;
}

/* Kontener przycisków */
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Przyciski logowania */
.custom-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 2px solid #00A300; /* Zielona ramka */
    border-radius: 30px; /* Zaokrąglone krawędzie */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: Arial, sans-serif;
    max-width: 400px; /* Ograniczenie szerokości przycisku */
    width: 100%; /* Zajmuje całą szerokość rodzica */
}

.custom-login-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Cień po najechaniu */
}

/* Ikona logowania */
.login-icon {
    width: 100px; /* Proporcjonalna wielkość ikony */
    height: auto;
    margin-right: 10px; /* Odstęp między ikoną a tekstem */
}

/* Media Queries dla urządzeń mobilnych */
@media (max-width: 1200px) {
    .container {
        width: 95%; /* Zmiana szerokości kontenera na mniejszych ekranach */
    }

    h1 {
        font-size: 1.3rem; /* Mniejsze nagłówki na telefonach */
    }

    .custom-login-button {
        font-size: 0.9rem; /* Zmniejszenie przycisku na mniejszych ekranach */
    }
}